@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./bubbles";
@import "./cards";
@import "./glitch";
@import "./loading";
@import "./shuffle";

html,
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: linear-gradient(180deg, #0d0606 0%, #270202 100%);
  color: white;
  overflow: hidden;
}

#__next {
  height: 100%;
}

* {
  box-sizing: border-box;
}

.font-exo,
.font-vivid {
  letter-spacing: -0.04em;
}

.font-exo {
  line-height: 1em;
}

.font-vivid {
  font-size: 0.66em;
  line-height: 1.4em;
}

.loading-text .font-vivid {
  font-size: 0.85em;
}

.border-gradient {
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to bottom, #2bb6dd, #d14d90);
}

.drop-gradient {
  filter: drop-shadow(0px 8px 12px rgba(208, 79, 145, 0.15));
}

.text-gradient {
  background: -webkit-linear-gradient(#2bb6dd, #d14d90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-gradient-hover:hover .text-gradient-item {
  background: -webkit-linear-gradient(#2bb6dd, #d14d90);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-h1 {
  font-size: 50px;
  line-height: 1;
}
.text-h2 {
  font-size: 40px;
  line-height: 1;
}
.text-h3 {
  font-size: 40px;
  line-height: 1.2;
}

@screen md {
  .text-h1 {
    font-size: 110px;
  }
  .text-h2 {
    font-size: 75px;
  }
  .text-h3 {
    font-size: 60px;
  }
}

@screen xl {
  .text-h1 {
    font-size: 150px;
    line-height: 0.912;
  }
  .text-h2 {
    font-size: 124px;
    line-height: 1.2;
  }
}

@layer utilities {
  button {
    outline: none;
  }

  button:disabled {
    opacity: 0.5;
  }

  button.button,
  a.button {
    @apply bg-white border border-black lg:min-w-[200px] lg:max-w-none max-w-[200px] lg:py-[14px] py-[9px] px-[24px] text-left font-bold text-[18px];
  }

  button.header-button,
  a.header-button {
    @apply font-exo text-lg leading-tight relative;
  }

  button.header-button:after,
  a.header-button:after {
    content: "";
    @apply bg-black mt-[1px] h-[2px] block absolute left-0 w-0 transition-all;
  }

  button.header-button:hover:after,
  a.header-button:hover:after {
    width: 102%;
  }

  .test-blur:before {
    backdrop-filter: blur(30px);
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
  }
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
}
.fade-enter-active,
.fade-exit-active {
  transition: opacity 500ms;
}

.long.fade-enter-active {
  transition: opacity 1000ms;
}

.long.fade-exit-active {
  transition: opacity 500ms;
}

.animate-underline {
  display: inline-block;
  position: relative;
}

.animate-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: currentcolor;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.animate-underline:hover::after,
.animate-underline.selected::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
