.loading {
  position: relative;
  overflow: visible !important;
}

.loading:after {
  content: "";
  position: absolute;
  left: 101%;
  bottom: -6px;
  animation: dots 2s infinite;
  font-size: 0.7em;
}

.loading.loading-exo.font-light:after {
  font-family: Exo2;
  font-weight: 300;
  left: 100.5%;
  bottom: 5px;
}

@keyframes dots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
}
